<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${name})}">
    Hello, Pic's user!
</p>
<img src="sample.png" th:src="|cid:${imageResourceName}|" style="width: 150px; height: 150px" />
</body>
</html>